html/404.html


<!-- Blog single standard--><!DOCTYPE html><!--[if IE 8 ]>
<html lang="en" class="no-js ie8"></html><![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="no-js ie9"></html><![endif]-->
<html class="no-js" lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Systemy automatyki i sterowania produkcją energii elektrycznej - Ineea">
    <meta name="author" content="wielicki-it">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="assets/images/favicon.png">
    <title>Systemy automatyki i sterowania produkcją energii elektrycznej - Ineea</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css"><!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <script src="assets/js/es5-shim.min.js"></script><![endif]-->
  </head>
  <body class="cssAnimate">
    <div id="preloader">
      <div class="loader"><img src="assets/images/content/loader.gif" alt="Strona jest w trakcie ładowania"></div>
    </div>
    <div id="ct-js-wrapper" class="ct-pageWrapper">
      <!-- Mobile toggle-->
      <div class="_navbarMobile">
        <button type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <!-- top bar-->
      <div class="_topBar hidden-xs">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <ul class="list-unstyled list-inline _list-info">
                <li><a href="tel:605954481" class="_link"><i class="fa fa-phone"></i> 605&ensp;954&ensp;481</a></li>
                <li><a href="fax:4599743222" class="_link"><i class="fa fa-fax"></i> 45&nbsp;997&nbsp;432&nbsp;22</a></li>
                <li><a href="mailto:ineea@ineea.pl" class="_link"><i class="fa fa-envelope-o"></i> ineea@ineea.pl</a></li>
                <li><a href="skype:construction" class="_link"><i class="fa fa-skype"></i> construction</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- header-->
      <header class="_header">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 text-center-xs text-left-sm"><img src="http://vowthemes.com/demo/html/construction/images/logo.png" alt=""></div>
            <div class="col-sm-6 hidden-xs">
              <ul class="list-unstyled list-inline _socialBox text-right">
                <li><a href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <!-- Navigation-->
      <nav class="navbar navbar-default sticky-menu">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li><a href="index.html">Home page</a></li>
                  <li class="dropdown"><a href="about-1.html">About</a>
                    <ul class="dropdown-menu">
                      <li><a href="about-1.html">About 1</a></li>
                      <li><a href="#">About 2</a></li>
                      <li><a href="#">About 3</a></li>
                      <li><a href="#">About 4</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="our-projects-1.html">Our projects</a>
                    <ul class="dropdown-menu">
                      <li><a href="our-projects-1.html">Projects 1</a></li>
                      <li><a href="#">Projects 2</a></li>
                      <li><a href="#">Projects 3</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="praca.html">Service</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Service 1</a></li>
                      <li><a href="#">Service 2</a></li>
                      <li><a href="#">Service 3</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="news.html">News</a>
                    <ul class="dropdown-menu">
                      <li><a href="blog-left-sidebar.html">Blog - left sidebar</a></li>
                      <li><a href="#">Blog 2col</a></li>
                      <li><a href="#">Blog 3col</a></li>
                      <li><a href="#">Blog single</a></li>
                      <li><a href="404.html">404</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="shortcodes.html">Shortcodes</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <header data-background="assets/images/content/header-page-4.jpg" data-height="300" class="_pageHeader ct-u-display-tablex">
        <div class="inner">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="_pageHeader__title">404</h2>
                <ol class="breadcrumb">
                  <li><a href="/">Home page</a></li>
                  <li class="active">404</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="ct-u-padding-top-50 ct-u-padding-bottom-70">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="_error404">
                <h5 class="_error404__number">404</h5>
                <h6 class="_error404__title">Oops, page not found!</h6><span class="_error404__titleDuplicated">Oops, page not found!</span>
                <form action="#" class="_contactForm _contactForm--type3 ct-u-margin-top-50 text-center">
                  <div class="form-group">
                    <label for="Search typing" class="sr-only">Search typing...</label>
                    <input type="text" placeholder="Search typing..." id="Search typing" required="required" class="form-control"/>
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </div>
                </form><span class="_blockElement ct-u-margin-both-15">or</span><a href="/" class="btn btn-motive">Back to home page</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="_promoBox _promoBox__type2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4 ct-u-padding-both-75">
              <div class="_iconBox _iconBox--motive text-center">
                <div class="_iconBox__icon"><i class="fa fa-paper-plane"></i></div>
                <div class="_iconBox__content">
                  <h3 class="_iconBox__title">About our</h3>
                  <h4 class="_iconBox__subtitle">Company</h4>
                  <p class="_iconBox__description">Know more about our company</p><a href="#" class="btn btn--whiteBorder">About page<i class="fa fa-angle-double-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 ct-u-padding-both-75">
              <div class="_iconBox _iconBox--motive text-center">
                <div class="_iconBox__icon"><i class="fa fa-pencil"></i></div>
                <div class="_iconBox__content">
                  <h3 class="_iconBox__title">Our blog</h3>
                  <h4 class="_iconBox__subtitle">Posts</h4>
                  <p class="_iconBox__description">Check out our recent news and events</p><a href="#" class="btn btn--whiteBorder">Blog page<i class="fa fa-angle-double-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 ct-u-padding-both-75">
              <div class="_iconBox _iconBox--motive text-center">
                <div class="_iconBox__icon"><i class="fa fa-photo"></i></div>
                <div class="_iconBox__content">
                  <h3 class="_iconBox__title">Gallery</h3>
                  <h4 class="_iconBox__subtitle">Folio</h4>
                  <p class="_iconBox__description">Check our portfolio and photos</p><a href="#" class="btn btn--whiteBorder">Gallery page<i class="fa fa-angle-double-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer-->
      <footer class="_footer">
        <button data-scroll="up" class="ct-btn--scrollUp"><span><i class="fa fa-chevron-up"></i></span></button>
        <div class="inner">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h4>I <i class="fa fa-heart _color--motive _anim--beatingHeart"></i> your mom.</h4><span class="_copyright">Powered by <a href="#">wielicki-it</a></span>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <button data-scroll="up" class="ct-btn--scrollUp"><span><i class="fa fa-chevron-up"></i></span></button>
    </div>
    <!-- Mobile Menu //-->
    <nav class="_menuMobile"></nav>
    <!-- JavaScripts-->
    <script src="assets/js/boilerplate.min.js"></script>
    <script src="assets/js/tether.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/plugins/slick/js/slick.js"></script>
    <script src="assets/js/plugins/slick/js/init.js"></script>
    <script src="assets/js/plugins/ct-mediaSection/js/jquery.stellar.min.js"></script>
    <script src="assets/js/skrollr.min.js"></script>
    <script src="assets/js/plugins/ct-mediaSection/js/media-section.js"></script>
    <script src="assets/js/plugins/lightgallery/lightgallery-all.js"></script>
    <script src="assets/js/plugins/lightgallery/init.js"></script>
    <script src="assets/js/plugins/portfolio/jquery.isotope.min.js"></script>
    <script src="assets/js/plugins/portfolio/imagesloaded.js"></script>
    <script src="assets/js/plugins/portfolio/init.js"></script>
    <script src="assets/js/plugins/vimeo/froga.loop.min.js"></script>
    <!-- Block Plugins-->
  </body>
</html>

dev/jade/404.jade
//- Document Head //
extends config/base
block page_content
    +pageHeader(
    path_content + 'header-page-4.jpg',
    '404'
    )
    section.ct-u-padding-top-50.ct-u-padding-bottom-70
        .container
            .row
                .col-sm-12
                    ._error404
                        h5._error404__number 404
                        h6._error404__title Oops, page not found!
                        span._error404__titleDuplicated Oops, page not found!
                        form(action="#")._contactForm._contactForm--type3.ct-u-margin-top-50.text-center
                            +input('Search typing...', 'Search typing', 'text', 'true', 'true')
                        span._blockElement.ct-u-margin-both-15 or
                        a(href="/").btn.btn-motive Back to home page
    ._promoBox._promoBox__type2
        .container-fluid
            .row
                .col-sm-4.ct-u-padding-both-75
                    ._iconBox._iconBox--motive.text-center
                        ._iconBox__icon
                            i.fa.fa-paper-plane
                        ._iconBox__content
                            h3._iconBox__title About our
                            h4._iconBox__subtitle Company
                            p._iconBox__description Know more about our company
                            a(href="#").btn.btn--whiteBorder About page
                                i.fa.fa-angle-double-right
                .col-sm-4.ct-u-padding-both-75
                    ._iconBox._iconBox--motive.text-center
                        ._iconBox__icon
                            i.fa.fa-pencil
                        ._iconBox__content
                            h3._iconBox__title Our blog
                            h4._iconBox__subtitle Posts
                            p._iconBox__description Check out our recent news and events
                            a(href="#").btn.btn--whiteBorder Blog page
                                i.fa.fa-angle-double-right
                .col-sm-4.ct-u-padding-both-75
                    ._iconBox._iconBox--motive.text-center
                        ._iconBox__icon
                            i.fa.fa-photo
                        ._iconBox__content
                            h3._iconBox__title Gallery
                            h4._iconBox__subtitle Folio
                            p._iconBox__description Check our portfolio and photos
                            a(href="#").btn.btn--whiteBorder Gallery page
                                i.fa.fa-angle-double-right
