html/about-1.html


<!-- Blog single standard--><!DOCTYPE html><!--[if IE 8 ]>
<html lang="en" class="no-js ie8"></html><![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="no-js ie9"></html><![endif]-->
<html class="no-js" lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Systemy automatyki i sterowania produkcją energii elektrycznej - Ineea">
    <meta name="author" content="wielicki-it">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="assets/images/favicon.png">
    <title>Systemy automatyki i sterowania produkcją energii elektrycznej - Ineea</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css"><!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <script src="assets/js/es5-shim.min.js"></script><![endif]-->
  </head>
  <body class="cssAnimate">
    <div id="preloader">
      <div class="loader"><img src="assets/images/content/loader.gif" alt="Strona jest w trakcie ładowania"></div>
    </div>
    <div id="ct-js-wrapper" class="ct-pageWrapper">
      <!-- Mobile toggle-->
      <div class="_navbarMobile">
        <button type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <!-- top bar-->
      <div class="_topBar hidden-xs">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <ul class="list-unstyled list-inline _list-info">
                <li><a href="tel:605954481" class="_link"><i class="fa fa-phone"></i> 605&ensp;954&ensp;481</a></li>
                <li><a href="fax:4599743222" class="_link"><i class="fa fa-fax"></i> 45&nbsp;997&nbsp;432&nbsp;22</a></li>
                <li><a href="mailto:ineea@ineea.pl" class="_link"><i class="fa fa-envelope-o"></i> ineea@ineea.pl</a></li>
                <li><a href="skype:construction" class="_link"><i class="fa fa-skype"></i> construction</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- header-->
      <header class="_header">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 text-center-xs text-left-sm"><img src="http://vowthemes.com/demo/html/construction/images/logo.png" alt=""></div>
            <div class="col-sm-6 hidden-xs">
              <ul class="list-unstyled list-inline _socialBox text-right">
                <li><a href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <!-- Navigation-->
      <nav class="navbar navbar-default sticky-menu">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li><a href="index.html">Home page</a></li>
                  <li class="dropdown"><a href="about-1.html">About</a>
                    <ul class="dropdown-menu">
                      <li><a href="about-1.html">About 1</a></li>
                      <li><a href="#">About 2</a></li>
                      <li><a href="#">About 3</a></li>
                      <li><a href="#">About 4</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="our-projects-1.html">Our projects</a>
                    <ul class="dropdown-menu">
                      <li><a href="our-projects-1.html">Projects 1</a></li>
                      <li><a href="#">Projects 2</a></li>
                      <li><a href="#">Projects 3</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="praca.html">Service</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Service 1</a></li>
                      <li><a href="#">Service 2</a></li>
                      <li><a href="#">Service 3</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="news.html">News</a>
                    <ul class="dropdown-menu">
                      <li><a href="blog-left-sidebar.html">Blog - left sidebar</a></li>
                      <li><a href="#">Blog 2col</a></li>
                      <li><a href="#">Blog 3col</a></li>
                      <li><a href="#">Blog single</a></li>
                      <li><a href="404.html">404</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="shortcodes.html">Shortcodes</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <header data-background="assets/images/content/header-page-2.jpg" data-height="300" class="_pageHeader ct-u-display-tablex">
        <div class="inner">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="_pageHeader__title">About 1</h2>
                <ol class="breadcrumb">
                  <li><a href="/">Home page</a></li>
                  <li class="active">About 1</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="ct-u-padding-top-80 ct-u-padding-bottom-85">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <header class="_boxHeader">
                <h2 class="_boxHeader__title">Create<span class="_color--motive">&</span>build<sup class="_boxHeader__subtitle">Welcome to</sup></h2>
              </header>
              <p class="lead">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus.</p>
              <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum:</p>
              <ul class="list-unstyled _list--projectsInfo _list--bigger ct-u-padding-both-40">
                <li><i class="fa fa-chevron-right"></i> Stet clita kasd gubergren nosea takimata</li>
                <li><i class="fa fa-chevron-right"></i> Lorem ipsum dolor sit amet consetetur sadipscing</li>
                <li><i class="fa fa-chevron-right"></i> At accusam aliquyam diam diam</li>
              </ul>
            </div>
            <div class="col-md-6">
              <div data-items="1" data-draggable="false" class="ct-slick ct-js-slick _slick-arrow--type2 _slick--fullWidthImage">
                <div class="item"><img src="http://rollthemes.com/demo/html/create-build/images/blog/about.jpg"></div>
                <div class="item"><img src="http://rollthemes.com/demo/html/create-build/images/blog/about.jpg"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section data-parallax="90" data-background="http://rollthemes.com/demo/html/create-build/images/parallax/parallax1.jpg" class="_bg-overlay _overlay--2 ct-u-padding-both-80">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div data-fx="fadeIn" class="_sectionHeader _sectionHeader__big text-center animated ct-u-margin-bottom-40">
                <h2 class="_sectionHeader__title">Our reputation</h2>
                <h3 class="_sectionHeader__subtitle"> Is solid as concrete!</h3>
              </div>
            </div>
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
              <div data-items="1" data-draggable="false" class="ct-slick ct-js-slick _slick-arrow--type2 _slick--fullWidthImage">
                <div class="item text-center">
                  <div class="_testimonial _testimonial--type2">
                    <blockquote class="_testimonial__quote">Now that this renovation project is complete I want to tell you how pleased we are with the outcome as well as with your employees who were involved with us. We will readily recommend Your company.</blockquote><img src="http://rollthemes.com/demo/html/create-build/images/blog/u3.jpg">
                    <h6 class="_testimonial__name">Jason Anderson</h6><span class="_testimonial__role">Partner</span>
                  </div>
                </div>
                <div class="item text-center">
                  <div class="_testimonial _testimonial--type2">
                    <blockquote class="_testimonial__quote">Now that this renovation project is complete I want to tell you how pleased we are with the outcome as well as with your employees who were involved with us. We will readily recommend Your company.</blockquote><img src="http://rollthemes.com/demo/html/create-build/images/blog/u3.jpg">
                    <h6 class="_testimonial__name">Jason Anderson</h6><span class="_testimonial__role">Partner</span>
                  </div>
                </div>
                <div class="item text-center">
                  <div class="_testimonial _testimonial--type2">
                    <blockquote class="_testimonial__quote">Now that this renovation project is complete I want to tell you how pleased we are with the outcome as well as with your employees who were involved with us. We will readily recommend Your company.</blockquote><img src="http://rollthemes.com/demo/html/create-build/images/blog/u3.jpg">
                    <h6 class="_testimonial__name">Jason Anderson</h6><span class="_testimonial__role">Partner</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 ct-u-padding-both-20">
              <figure class="_imageBox"><img src="http://rollthemes.com/demo/html/create-build/images/services/1.jpg">
                <figcaption>
                  <h3 data-fx="fadeInUp" class="_imageBox__title animated">Research<span class="ct-u-color--white">&</span>innovate</h3>
                </figcaption>
                <div class="_imageBox__description">
                  <div class="inner">
                    <p class="lead">Consetetur sadipscing elitr diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p><a href="#" class="btn btn--whiteBorder btn-hover--type2">Know more</a>
                  </div>
                </div>
              </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 ct-u-padding-both-20">
              <figure class="_imageBox"><img src="http://rollthemes.com/demo/html/create-build/images/services/2.jpg">
                <figcaption>
                  <h3 data-fx="fadeInUp" class="_imageBox__title animated">Design<span class="ct-u-color--white">&</span>build</h3>
                </figcaption>
                <div class="_imageBox__description">
                  <div class="inner">
                    <p class="lead">Consetetur sadipscing elitr diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p><a href="#" class="btn btn--whiteBorder btn-hover--type2">Know more</a>
                  </div>
                </div>
              </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 ct-u-padding-both-20">
              <figure class="_imageBox"><img src="http://rollthemes.com/demo/html/create-build/images/services/3.jpg">
                <figcaption>
                  <h3 data-fx="fadeInUp" class="_imageBox__title animated">Experience<span class="ct-u-color--white">&</span>creativity</h3>
                </figcaption>
                <div class="_imageBox__description">
                  <div class="inner">
                    <p class="lead">Consetetur sadipscing elitr diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p><a href="#" class="btn btn--whiteBorder btn-hover--type2">Know more</a>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </section>
      <section data-parallax="90" data-background="http://rollthemes.com/demo/html/create-build/images/parallax/parallax4.jpg" class="ct-u-padding-both-100 _bg-overlay _overlay--3">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h2 class="ct-u-font-weight--800 text-capitalize ct-u-margin-bottom-30">Why Choose Us</h2>
              <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group _accordion">
                <div class="panel panel-default">
                  <div id="headingOne" role="tab" class="panel-heading">
                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span class="_accordion-icon"><i class="fa fa-plus"></i></span>Czy dzięki BrainPortowi można widzieć?</a></h4>
                  </div>
                  <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <p>NIE. BrainPort pozwala na „odczucie” obrazu na języku.</p>
                      <p>
                        Użytkownik musi poświęcić sporo czasu aby opanować posługiwanie się urządzeniem i nauczyć
                        się interpretować odczuwane obrazy. Osoby oczekujące szybkiego efektu w
                        postaci widzenia mogą się czuć zawiedzione działaniem BrainPortu.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div id="headingTwo" role="tab" class="panel-heading">
                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed"><span class="_accordion-icon"><i class="fa fa-plus"></i></span>Jak długo trwa szkolenie i trening w posługiwaniu się BrainPortem?</a></h4>
                  </div>
                  <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Producent zaleca aby przyszły / potencjalny użytkownik odbył 10 godzin podstawowego szkolenia zanim zacznie użytkować aparat.</p>
                      <p>
                        Takie szkolenie pozwala na zapoznanie się z podstawowymi funkcjami urządzenia. Nabycie
                        sprawności w jego użytkowaniu może potrwać znacznie dłużej i jest
                        uzależnione od indywidualnych cech użytkownika oraz od jego sytuacji
                        osobistej / rodzinnej / społecznej.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div id="headingThree" role="tab" class="panel-heading">
                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed"><span class="_accordion-icon"><i class="fa fa-plus"></i></span>Jak użytkownik odczuwa stymulację języka?</a></h4>
                  </div>
                  <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Stymulacja języka jest wynikiem działania słabego prądu elektrycznego na zakończenia czuciowe języka.</p>
                      <p>
                        Jest ona odczuwana jako delikatne łaskotanie,
                        mrowienie lub lokalne, szybko ustępujące i zmienne drętwienie w obszarze
                        stymulacji, która odzwierciedla jasne punkty obrazu. Siłę tego odczucia można
                        dobrać indywidualnie dla każdego użytkownika, który może to zrobić sam za
                        pomocą regulatora zwiększającego siłę stymulacji w skali punktowej od 1 do
                        100. Zbyt silna stymulacja może być odczuwana nieprzyjemnie granicząc z
                        bólem.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div id="heading4" role="tab" class="panel-heading">
                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4" class="collapsed"><span class="_accordion-icon"><i class="fa fa-plus"></i></span>Czy każdy użytkownik BrainPortu  może liczyć na dobry efekt?</a></h4>
                  </div>
                  <div id="collapse4" role="tabpanel" aria-labelledby="heading4" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Niektórzy użytkownicy za pomocą cierpliwego treningu dochodzą do zdumiewających efektów w orientacji przestrzennej i rozpoznawaniu obrazów.</p>
                      <p>Wąska grupa raportuje nawet, że doznaje fenomenu „wizualizacji” w czasie korzystania z urządzenia. Inni, mimo początkowych sukcesów zniechęcają się pozostając na poziomie podstawowych umiejętności i rezygnują z użytkowania BrainPortu. Najlepsze rokowanie co do sukcesu według dotychczasowych doświadczeń mają osoby niewidome, które przeszły klasyczne szkolenie i program rehabilitacyjny dla ociemniałych oraz są zmotywowane do szkolenia i treningu. Pomocne jest też doświadczenie i sprawność w posługiwaniu się urządzeniami elektronicznymi, obycie z komputerem i korzystanie z internetu.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div id="heading5" role="tab" class="panel-heading">
                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5" class="collapsed"><span class="_accordion-icon"><i class="fa fa-plus"></i></span>Czy każdy może zostać użytkownikiem BrainPortu?</a></h4>
                  </div>
                  <div id="collapse5" role="tabpanel" aria-labelledby="heading5" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>
                        NIE. Osoby z implantami medycznymi (np. stymulatory serca, implanty
                        ślimakowe itp.) powinny skonsultować użycie BrainPortu ze swoim lekarzem
                        prowadzącym. Osoby ze schorzeniami w obrębie jamy ustnej, urazami języka i
                        problemami w zakresie stawów skroniowo-żuchwowych mogą mieć problemy
                        z użytkowaniem BrainPortu.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <h2 class="ct-u-font-weight--800 text-capitalize ct-u-margin-bottom-30">Services</h2>
              <p class="lead">At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est lorem ipsum dolor sitamet ipsum dolor:</p>
              <ul class="list-unstyled _list--projectsInfo _list--grayMode ct-u-margin-top-30">
                <li><i class="fa fa-chevron-right"></i> Consetetur sadipscing elitr</li>
                <li><i class="fa fa-chevron-right"></i> Sed diam nonumy eirmod tempor</li>
                <li><i class="fa fa-chevron-right"></i> Invidunt ut labore</li>
                <li><i class="fa fa-chevron-right"></i> Dolore magna aliquyam</li>
                <li><i class="fa fa-chevron-right"></i> At vero eos et accusam justo</li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h2 class="ct-u-font-weight--800 text-capitalize ct-u-margin-bottom-30">Advantages</h2>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer-->
      <footer class="_footer">
        <button data-scroll="up" class="ct-btn--scrollUp"><span><i class="fa fa-chevron-up"></i></span></button>
        <div class="inner">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h4>I <i class="fa fa-heart _color--motive _anim--beatingHeart"></i> your mom.</h4><span class="_copyright">Powered by <a href="#">wielicki-it</a></span>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <button data-scroll="up" class="ct-btn--scrollUp"><span><i class="fa fa-chevron-up"></i></span></button>
    </div>
    <!-- Mobile Menu //-->
    <nav class="_menuMobile"></nav>
    <!-- JavaScripts-->
    <script src="assets/js/boilerplate.min.js"></script>
    <script src="assets/js/tether.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/plugins/slick/js/slick.js"></script>
    <script src="assets/js/plugins/slick/js/init.js"></script>
    <script src="assets/js/plugins/ct-mediaSection/js/jquery.stellar.min.js"></script>
    <script src="assets/js/skrollr.min.js"></script>
    <script src="assets/js/plugins/ct-mediaSection/js/media-section.js"></script>
    <script src="assets/js/plugins/lightgallery/lightgallery-all.js"></script>
    <script src="assets/js/plugins/lightgallery/init.js"></script>
    <script src="assets/js/plugins/portfolio/jquery.isotope.min.js"></script>
    <script src="assets/js/plugins/portfolio/imagesloaded.js"></script>
    <script src="assets/js/plugins/portfolio/init.js"></script>
    <script src="assets/js/plugins/vimeo/froga.loop.min.js"></script>
    <!-- Block Plugins-->
  </body>
</html>

dev/jade/about-1.jade
//- Document Head //
extends config/base
block page_content
    +pageHeader(
    path_content + 'header-page-2.jpg',
    'About 1'
    )
    section.ct-u-padding-top-80.ct-u-padding-bottom-85
        .container
            .row
                .col-md-6
                    header._boxHeader
                        h2._boxHeader__title Create#[span._color--motive &]build
                            sup._boxHeader__subtitle Welcome to
                    p.lead At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus.
                    p.lead Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum:
                    ul.list-unstyled._list--projectsInfo._list--bigger.ct-u-padding-both-40
                        li #[i.fa.fa-chevron-right] Stet clita kasd gubergren nosea takimata
                        li #[i.fa.fa-chevron-right] Lorem ipsum dolor sit amet consetetur sadipscing
                        li #[i.fa.fa-chevron-right] At accusam aliquyam diam diam
                .col-md-6
                    .ct-slick.ct-js-slick._slick-arrow--type2._slick--fullWidthImage(data-items="1" data-draggable="false")
                        .item
                            img(src="http://rollthemes.com/demo/html/create-build/images/blog/about.jpg")
                        .item
                            img(src="http://rollthemes.com/demo/html/create-build/images/blog/about.jpg")
    section._bg-overlay._overlay--2.ct-u-padding-both-80(data-parallax="90" data-background="http://rollthemes.com/demo/html/create-build/images/parallax/parallax1.jpg")
        .container
            .row
                .col-sm-12
                    ._sectionHeader._sectionHeader__big.text-center.animated.ct-u-margin-bottom-40(data-fx="fadeIn")
                        h2._sectionHeader__title Our reputation
                        h3._sectionHeader__subtitle  Is solid as concrete!
                .col-md-10.col-md-offset-1.col-sm-12.col-sm-offset-0
                    .ct-slick.ct-js-slick._slick-arrow--type2._slick--fullWidthImage(data-items="1" data-draggable="false")
                        .item.text-center
                            ._testimonial._testimonial--type2
                                blockquote._testimonial__quote Now that this renovation project is complete I want to tell you how pleased we are with the outcome as well as with your employees who were involved with us. We will readily recommend Your company.
                                img(src="http://rollthemes.com/demo/html/create-build/images/blog/u3.jpg")
                                h6._testimonial__name Jason Anderson
                                span._testimonial__role Partner
                        .item.text-center
                            ._testimonial._testimonial--type2
                                blockquote._testimonial__quote Now that this renovation project is complete I want to tell you how pleased we are with the outcome as well as with your employees who were involved with us. We will readily recommend Your company.
                                img(src="http://rollthemes.com/demo/html/create-build/images/blog/u3.jpg")
                                h6._testimonial__name Jason Anderson
                                span._testimonial__role Partner
                        .item.text-center
                            ._testimonial._testimonial--type2
                                blockquote._testimonial__quote Now that this renovation project is complete I want to tell you how pleased we are with the outcome as well as with your employees who were involved with us. We will readily recommend Your company.
                                img(src="http://rollthemes.com/demo/html/create-build/images/blog/u3.jpg")
                                h6._testimonial__name Jason Anderson
                                span._testimonial__role Partner

    section
        .container-fluid
            .row
                .col-lg-4.col-md-6.col-sm-12.ct-u-padding-both-20
                    figure._imageBox
                        img(src="http://rollthemes.com/demo/html/create-build/images/services/1.jpg")
                        figcaption
                            h3._imageBox__title.animated(data-fx="fadeInUp") Research#[span.ct-u-color--white &]innovate
                        ._imageBox__description
                            .inner
                                p.lead Consetetur sadipscing elitr diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                a(href="#").btn.btn--whiteBorder.btn-hover--type2 Know more
                .col-lg-4.col-md-6.col-sm-12.ct-u-padding-both-20
                    figure._imageBox
                        img(src="http://rollthemes.com/demo/html/create-build/images/services/2.jpg")
                        figcaption
                            h3._imageBox__title.animated(data-fx="fadeInUp") Design#[span.ct-u-color--white &]build
                        ._imageBox__description
                            .inner
                                p.lead Consetetur sadipscing elitr diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                a(href="#").btn.btn--whiteBorder.btn-hover--type2 Know more
                .col-lg-4.col-md-6.col-sm-12.ct-u-padding-both-20
                    figure._imageBox
                        img(src="http://rollthemes.com/demo/html/create-build/images/services/3.jpg")
                        figcaption
                            h3._imageBox__title.animated(data-fx="fadeInUp") Experience#[span.ct-u-color--white &]creativity
                        ._imageBox__description
                            .inner
                                p.lead Consetetur sadipscing elitr diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                a(href="#").btn.btn--whiteBorder.btn-hover--type2 Know more
    section.ct-u-padding-both-100._bg-overlay._overlay--3(data-parallax="90" data-background="http://rollthemes.com/demo/html/create-build/images/parallax/parallax4.jpg")
        .container
            .row
                .col-sm-4
                    h2.ct-u-font-weight--800.text-capitalize.ct-u-margin-bottom-30 Why Choose Us
                    +accordion
                .col-sm-4
                    h2.ct-u-font-weight--800.text-capitalize.ct-u-margin-bottom-30 Services
                    p.lead At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est lorem ipsum dolor sitamet ipsum dolor:
                    ul.list-unstyled._list--projectsInfo._list--grayMode.ct-u-margin-top-30
                        li #[i.fa.fa-chevron-right] Consetetur sadipscing elitr
                        li #[i.fa.fa-chevron-right] Sed diam nonumy eirmod tempor
                        li #[i.fa.fa-chevron-right] Invidunt ut labore
                        li #[i.fa.fa-chevron-right] Dolore magna aliquyam
                        li #[i.fa.fa-chevron-right] At vero eos et accusam justo
                .col-sm-4
                    h2.ct-u-font-weight--800.text-capitalize.ct-u-margin-bottom-30 Advantages
