dev/jade/blog-left-sidebar.jade
//- Document Head //
extends config/base
block page_content
    +pageHeader(
    path_content + 'header-page-4.jpg',
    'Blog - left sidebar'
    )
    section.ct-u-padding-both-80
        .container
            .row
                .col-md-8.col-sm-12.ct-u-padding-left-50.ct-u-padding-left-15-sm.col-md-push-4
                    +blogPost_standard(
                    'http://rollthemes.com/demo/html/create-build/images/blog/b1.jpg',
                    '27',
                    'May',
                    '2015-04-27',
                    'Post with large image',
                    'Admin',
                    'Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                    'Read Article'
                    )
                        block metaCategories
                            +blogPost_standard--categories('Renovation', 'Services', 'Tip & Trick')
                .col-md-4.col-sm-12.col-md-pull-8
                    aside._blogPost_sidebar
                        +widget_search('Search posts ...')
                        +widget_categories('Categories')
                            block inner
                                +widget_category_inner('Construction', '(23)')
                                +widget_category_inner('Design', '(32)')
                                +widget_category_inner('Industry', '(17)')
                                +widget_category_inner('Tip & Trick', '(9)')
                                +widget_category_inner('Renovation', '(25)')
                                +widget_category_inner('Uncategorized', '(4)')
                        +widget_tags('Tags', 'Design', 'Construction', 'Industry', 'Uncategorized', 'Renovation', 'Tip & Trick', 'Services', 'Shortcodes')
                        +widget_text('Simple text')
                        +widget_recent_posts('Recent posts')
                            block innerPosts
                                +widget_recent_posts_inner('http://rollthemes.com/demo/html/create-build/images/blog/s1.jpg', "05 Apr' 15", '2015-04-05', 'At vero eos et accusam et justo duo dolores et ea rebum.')
                                +widget_recent_posts_inner('http://rollthemes.com/demo/html/create-build/images/blog/s3.jpg', "05 Dec' 15", '2015-05-12', 'At vero eos et accusam et justo duo dolores et ea rebum.')
                                +widget_recent_posts_inner('http://rollthemes.com/demo/html/create-build/images/blog/s2.jpg', "01 Jan' 16", '2015-01-16', 'At vero eos et accusam et justo duo dolores et ea rebum.')
    include includes/promo-box--type2

html/blog-left-sidebar.html


<!-- Blog single standard--><!DOCTYPE html><!--[if IE 8 ]>
<html lang="en" class="no-js ie8"></html><![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="no-js ie9"></html><![endif]-->
<html class="no-js" lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Systemy automatyki i sterowania produkcją energii elektrycznej - Ineea">
    <meta name="author" content="wielicki-it">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="assets/images/favicon.png">
    <title>Systemy automatyki i sterowania produkcją energii elektrycznej - Ineea</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css"><!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <script src="assets/js/es5-shim.min.js"></script><![endif]-->
  </head>
  <body class="cssAnimate">
    <div id="preloader">
      <div class="loader"><img src="assets/images/content/loader.gif" alt="Strona jest w trakcie ładowania"></div>
    </div>
    <div id="ct-js-wrapper" class="ct-pageWrapper">
      <!-- Mobile toggle-->
      <div class="_navbarMobile">
        <button type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <!-- top bar-->
      <div class="_topBar hidden-xs">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <ul class="list-unstyled list-inline _list-info">
                <li><a href="tel:605954481" class="_link"><i class="fa fa-phone"></i> 605&ensp;954&ensp;481</a></li>
                <li><a href="fax:4599743222" class="_link"><i class="fa fa-fax"></i> 45&nbsp;997&nbsp;432&nbsp;22</a></li>
                <li><a href="mailto:ineea@ineea.pl" class="_link"><i class="fa fa-envelope-o"></i> ineea@ineea.pl</a></li>
                <li><a href="skype:construction" class="_link"><i class="fa fa-skype"></i> construction</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- header-->
      <header class="_header">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 text-center-xs text-left-sm"><img src="http://vowthemes.com/demo/html/construction/images/logo.png" alt=""></div>
            <div class="col-sm-6 hidden-xs">
              <ul class="list-unstyled list-inline _socialBox text-right">
                <li><a href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <!-- Navigation-->
      <nav class="navbar navbar-default sticky-menu">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li><a href="index.html">Home page</a></li>
                  <li class="dropdown"><a href="about-1.html">About</a>
                    <ul class="dropdown-menu">
                      <li><a href="about-1.html">About 1</a></li>
                      <li><a href="#">About 2</a></li>
                      <li><a href="#">About 3</a></li>
                      <li><a href="#">About 4</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="our-projects-1.html">Our projects</a>
                    <ul class="dropdown-menu">
                      <li><a href="our-projects-1.html">Projects 1</a></li>
                      <li><a href="#">Projects 2</a></li>
                      <li><a href="#">Projects 3</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="praca.html">Service</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Service 1</a></li>
                      <li><a href="#">Service 2</a></li>
                      <li><a href="#">Service 3</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="news.html">News</a>
                    <ul class="dropdown-menu">
                      <li><a href="blog-left-sidebar.html">Blog - left sidebar</a></li>
                      <li><a href="#">Blog 2col</a></li>
                      <li><a href="#">Blog 3col</a></li>
                      <li><a href="#">Blog single</a></li>
                      <li><a href="404.html">404</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="shortcodes.html">Shortcodes</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <header data-background="assets/images/content/header-page-4.jpg" data-height="300" class="_pageHeader ct-u-display-tablex">
        <div class="inner">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="_pageHeader__title">Blog - left sidebar</h2>
                <ol class="breadcrumb">
                  <li><a href="/">Home page</a></li>
                  <li class="active">Blog - left sidebar</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="ct-u-padding-both-80">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-12 ct-u-padding-left-50 ct-u-padding-left-15-sm col-md-push-4">
              <article itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" class="_featuredPost _featuredPost--standard">
                <div class="_featuredPost__media"><img itemprop="image" src="http://rollthemes.com/demo/html/create-build/images/blog/b1.jpg"/>
                  <div class="_featuredPost__comment">
                    <time datetime="2015-04-27" class="featuredPost__commentDate">27<span>May</span></time>
                  </div>
                </div>
                <h3 class="_featuredPost__title"><a href="#" itemprop="url">Post with large image</a></h3>
                <ul class="_featuredPost__meta list-unstyled list-inline">
                  <li class="_metaAuthor"><i class="fa fa-user"></i><a href="#" itemprop="url"><span itemprop="author">Admin</span></a></li>
                  <li class="_metaCategories"><i class="fa fa-tag"></i><a href="#" itemprop="url"><span itemprop="keywords">Renovation</span></a><a href="#" itemprop="url"><span itemprop="keywords">Services</span></a><a href="#" itemprop="url"><span itemprop="keywords">Tip &amp; Trick</span></a>
                  </li>
                </ul>
                <p itemprop="text" class="_featuredPost__description">Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p><a href="#" itemprop="url" class="btn _featuredPost__readMore">Read Article</a>
              </article>
            </div>
            <div class="col-md-4 col-sm-12 col-md-pull-8">
              <aside class="_blogPost_sidebar">
                <div class="_widget _widget_search">
                  <form action="">
                    <div class="_widget__inner">
                      <div class="form-group">
                        <label for="widget-search" class="sr-only">Search post's</label>
                        <input type="text" id="widget-search" placeholder="Search posts ..." required="required" class="form-control"/>
                        <button type="submit"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="_widget _widget_categories">
                  <div class="_widget__inner">
                    <h4 class="_widget__title">Categories</h4>
                    <ul class="list-unstyled">
                      <li><i class="fa fa-chevron-left"></i><a href="#">Construction<span class="pull-right">(23)</span></a></li>
                      <li><i class="fa fa-chevron-left"></i><a href="#">Design<span class="pull-right">(32)</span></a></li>
                      <li><i class="fa fa-chevron-left"></i><a href="#">Industry<span class="pull-right">(17)</span></a></li>
                      <li><i class="fa fa-chevron-left"></i><a href="#">Tip &amp; Trick<span class="pull-right">(9)</span></a></li>
                      <li><i class="fa fa-chevron-left"></i><a href="#">Renovation<span class="pull-right">(25)</span></a></li>
                      <li><i class="fa fa-chevron-left"></i><a href="#">Uncategorized<span class="pull-right">(4)</span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="_widget widget_tag_cloud">
                  <div class="_widget-inner">
                    <h4 class="_widget__title">Tags</h4>
                    <div class="tagcloud"><a href="#" class="tag-link tag-link-0">Design</a><a href="#" class="tag-link tag-link-1">Construction</a><a href="#" class="tag-link tag-link-2">Industry</a><a href="#" class="tag-link tag-link-3">Uncategorized</a><a href="#" class="tag-link tag-link-4">Renovation</a><a href="#" class="tag-link tag-link-5">Tip &amp; Trick</a><a href="#" class="tag-link tag-link-6">Services</a><a href="#" class="tag-link tag-link-7">Shortcodes</a>
                    </div>
                  </div>
                </div>
                <div class="_widget _widget_text">
                  <div class="widget-inner">
                    <h4 class="_widget__title">Simple text</h4>
                    <div class="textwidget">
                      <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum</p>
                    </div>
                  </div>
                </div>
                <div class="_widget _widget_recentPosts">
                  <div class="_widget__inner">
                    <h4 class="_widget__title">Recent posts</h4>
                    <div class="media">
                      <div class="media-left"><a href="#"><img src="http://rollthemes.com/demo/html/create-build/images/blog/s1.jpg" alt="alt"/></a></div>
                      <div class="media-body">
                        <div class="_date"><i class="fa fa-calendar"></i>
                          <time datetime="2015-04-05">05 Apr' 15</time>
                        </div>
                        <p><a href="#">At vero eos et accusam et justo duo dolores et ea rebum.</a></p>
                      </div>
                    </div>
                    <div class="media">
                      <div class="media-left"><a href="#"><img src="http://rollthemes.com/demo/html/create-build/images/blog/s3.jpg" alt="alt"/></a></div>
                      <div class="media-body">
                        <div class="_date"><i class="fa fa-calendar"></i>
                          <time datetime="2015-05-12">05 Dec' 15</time>
                        </div>
                        <p><a href="#">At vero eos et accusam et justo duo dolores et ea rebum.</a></p>
                      </div>
                    </div>
                    <div class="media">
                      <div class="media-left"><a href="#"><img src="http://rollthemes.com/demo/html/create-build/images/blog/s2.jpg" alt="alt"/></a></div>
                      <div class="media-body">
                        <div class="_date"><i class="fa fa-calendar"></i>
                          <time datetime="2015-01-16">01 Jan' 16</time>
                        </div>
                        <p><a href="#">At vero eos et accusam et justo duo dolores et ea rebum.</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </section>
      <div class="_promoBox _promoBox__type2">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 ct-u-padding-both-75">
              <div class="_iconBox _iconBox--motive text-center">
                <div class="_iconBox__icon"><i class="fa fa-paper-plane"></i></div>
                <div class="_iconBox__content">
                  <h3 class="_iconBox__title">About our</h3>
                  <h4 class="_iconBox__subtitle">Company</h4>
                  <p class="_iconBox__description">Know more about our company</p><a href="#" class="btn btn--whiteBorder">About page<i class="fa fa-angle-double-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 ct-u-padding-both-75">
              <div class="_iconBox _iconBox--motive text-center">
                <div class="_iconBox__icon"><i class="fa fa-pencil"></i></div>
                <div class="_iconBox__content">
                  <h3 class="_iconBox__title">Our blog</h3>
                  <h4 class="_iconBox__subtitle">Posts</h4>
                  <p class="_iconBox__description">Check out our recent news and events</p><a href="#" class="btn btn--whiteBorder">Blog page<i class="fa fa-angle-double-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 ct-u-padding-both-75">
              <div class="_iconBox _iconBox--motive text-center">
                <div class="_iconBox__icon"><i class="fa fa-photo"></i></div>
                <div class="_iconBox__content">
                  <h3 class="_iconBox__title">Gallery</h3>
                  <h4 class="_iconBox__subtitle">Folio</h4>
                  <p class="_iconBox__description">Check our portfolio and photos</p><a href="#" class="btn btn--whiteBorder">Gallery page<i class="fa fa-angle-double-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer-->
      <footer class="_footer">
        <button data-scroll="up" class="ct-btn--scrollUp"><span><i class="fa fa-chevron-up"></i></span></button>
        <div class="inner">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h4>I <i class="fa fa-heart _color--motive _anim--beatingHeart"></i> your mom.</h4><span class="_copyright">Powered by <a href="#">wielicki-it</a></span>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <button data-scroll="up" class="ct-btn--scrollUp"><span><i class="fa fa-chevron-up"></i></span></button>
    </div>
    <!-- Mobile Menu //-->
    <nav class="_menuMobile"></nav>
    <!-- JavaScripts-->
    <script src="assets/js/boilerplate.min.js"></script>
    <script src="assets/js/tether.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/plugins/slick/js/slick.js"></script>
    <script src="assets/js/plugins/slick/js/init.js"></script>
    <script src="assets/js/plugins/ct-mediaSection/js/jquery.stellar.min.js"></script>
    <script src="assets/js/skrollr.min.js"></script>
    <script src="assets/js/plugins/ct-mediaSection/js/media-section.js"></script>
    <script src="assets/js/plugins/lightgallery/lightgallery-all.js"></script>
    <script src="assets/js/plugins/lightgallery/init.js"></script>
    <script src="assets/js/plugins/portfolio/jquery.isotope.min.js"></script>
    <script src="assets/js/plugins/portfolio/imagesloaded.js"></script>
    <script src="assets/js/plugins/portfolio/init.js"></script>
    <script src="assets/js/plugins/vimeo/froga.loop.min.js"></script>
    <!-- Block Plugins-->
  </body>
</html>
