dev/jade/contact.jade
//- Document Head //
extends config/base
block page_content
    +pageHeader(
    path_content + 'header-page-3.jpg',
    'Contact'
    )
    .container.ct-u-padding-both-100
        .row
            .col-sm-12
                .ct-googleMap(data-location="Warszawa, Augustyna Kordeckiego 49/31" data-height="450" data-zoom="15")
    .section
        .container
            .row
                .col-sm-7.ct-u-margin-bottom-80
                    header._boxHeader
                        h2._boxHeader__title Form
                            sup._boxHeader__subtitle Contact
                    form(action="#")._contactForm._contactForm--type2
                        +input('Full name', 'full-name', 'text', true)
                        +input('Phone', 'phone', 'tel', true)
                        +input('Email address', 'email-address', 'email', true)
                        +input('Subject', 'subject', 'text', true)
                        +textarea('Message', 'message', 6, false)
                        button(type="submit").btn.btn-lg.btn-motive Send message
                .col-sm-5.ct-u-padding-left-100
                    header._boxHeader
                        h2._boxHeader__title Detail
                            sup._boxHeader__subtitle Contact
                    address._address._address--type2
                        +address('fa-pencil', 'Postal address', 'PO Box 97845 Baker st. 567, Los Angeles, California, United States')
                        +address('fa-phone', 'Phone', '8 (800) 659-2689')
                        +address('fa-fax', 'Fax', '8 (800) 659-2676')
                        +address('fa-envelope', 'Email', 'williamjackson@construct.com', true)
    ._promoBox._promoBox__type2
        .container-fluid
            .row
                .col-sm-4.ct-u-padding-both-75
                    ._iconBox._iconBox--motive.text-center
                        ._iconBox__icon
                            i.fa.fa-paper-plane
                        ._iconBox__content
                            h3._iconBox__title About our
                            h4._iconBox__subtitle Company
                            p._iconBox__description Know more about our company
                            a(href="#").btn.btn--whiteBorder About page
                                i.fa.fa-angle-double-right
                .col-sm-4.ct-u-padding-both-75
                    ._iconBox._iconBox--motive.text-center
                        ._iconBox__icon
                            i.fa.fa-pencil
                        ._iconBox__content
                            h3._iconBox__title Our blog
                            h4._iconBox__subtitle Posts
                            p._iconBox__description Check out our recent news and events
                            a(href="#").btn.btn--whiteBorder Blog page
                                i.fa.fa-angle-double-right
                .col-sm-4.ct-u-padding-both-75
                    ._iconBox._iconBox--motive.text-center
                        ._iconBox__icon
                            i.fa.fa-photo
                        ._iconBox__content
                            h3._iconBox__title Gallery
                            h4._iconBox__subtitle Folio
                            p._iconBox__description Check our portfolio and photos
                            a(href="#").btn.btn--whiteBorder Gallery page
                                i.fa.fa-angle-double-right
block plugins
    script(src="http://maps.google.com/maps/api/js?sensor=false")
    script(src="" + path_js + 'plugins/gmaps/gmap3.min.js')
    script(src="" + path_js + 'plugins/gmaps/init.js')

html/contact.html


<!-- Blog single standard--><!DOCTYPE html><!--[if IE 8 ]>
<html lang="en" class="no-js ie8"></html><![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="no-js ie9"></html><![endif]-->
<html class="no-js" lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Systemy automatyki i sterowania produkcją energii elektrycznej - Ineea">
    <meta name="author" content="wielicki-it">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="assets/images/favicon.png">
    <title>Systemy automatyki i sterowania produkcją energii elektrycznej - Ineea</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css"><!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <script src="assets/js/es5-shim.min.js"></script><![endif]-->
  </head>
  <body class="cssAnimate">
    <div id="preloader">
      <div class="loader"><img src="assets/images/content/loader.gif" alt="Strona jest w trakcie ładowania"></div>
    </div>
    <div id="ct-js-wrapper" class="ct-pageWrapper">
      <!-- Mobile toggle-->
      <div class="_navbarMobile">
        <button type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <!-- top bar-->
      <div class="_topBar hidden-xs">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <ul class="list-unstyled list-inline _list-info">
                <li><a href="tel:605954481" class="_link"><i class="fa fa-phone"></i> 605&ensp;954&ensp;481</a></li>
                <li><a href="fax:4599743222" class="_link"><i class="fa fa-fax"></i> 45&nbsp;997&nbsp;432&nbsp;22</a></li>
                <li><a href="mailto:ineea@ineea.pl" class="_link"><i class="fa fa-envelope-o"></i> ineea@ineea.pl</a></li>
                <li><a href="skype:construction" class="_link"><i class="fa fa-skype"></i> construction</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- header-->
      <header class="_header">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 text-center-xs text-left-sm"><img src="http://vowthemes.com/demo/html/construction/images/logo.png" alt=""></div>
            <div class="col-sm-6 hidden-xs">
              <ul class="list-unstyled list-inline _socialBox text-right">
                <li><a href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <!-- Navigation-->
      <nav class="navbar navbar-default sticky-menu">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li><a href="index.html">Home page</a></li>
                  <li class="dropdown"><a href="about-1.html">About</a>
                    <ul class="dropdown-menu">
                      <li><a href="about-1.html">About 1</a></li>
                      <li><a href="#">About 2</a></li>
                      <li><a href="#">About 3</a></li>
                      <li><a href="#">About 4</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="our-projects-1.html">Our projects</a>
                    <ul class="dropdown-menu">
                      <li><a href="our-projects-1.html">Projects 1</a></li>
                      <li><a href="#">Projects 2</a></li>
                      <li><a href="#">Projects 3</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="praca.html">Service</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Service 1</a></li>
                      <li><a href="#">Service 2</a></li>
                      <li><a href="#">Service 3</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="news.html">News</a>
                    <ul class="dropdown-menu">
                      <li><a href="blog-left-sidebar.html">Blog - left sidebar</a></li>
                      <li><a href="#">Blog 2col</a></li>
                      <li><a href="#">Blog 3col</a></li>
                      <li><a href="#">Blog single</a></li>
                      <li><a href="404.html">404</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="shortcodes.html">Shortcodes</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <header data-background="assets/images/content/header-page-3.jpg" data-height="300" class="_pageHeader ct-u-display-tablex">
        <div class="inner">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="_pageHeader__title">Contact</h2>
                <ol class="breadcrumb">
                  <li><a href="/">Home page</a></li>
                  <li class="active">Contact</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="container ct-u-padding-both-100">
        <div class="row">
          <div class="col-sm-12">
            <div data-location="Warszawa, Augustyna Kordeckiego 49/31" data-height="450" data-zoom="15" class="ct-googleMap"></div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-sm-7 ct-u-margin-bottom-80">
              <header class="_boxHeader">
                <h2 class="_boxHeader__title">Form<sup class="_boxHeader__subtitle">Contact</sup></h2>
              </header>
              <form action="#" class="_contactForm _contactForm--type2">
                <div class="form-group">
                  <label for="full-name" class="sr-only">Full name</label>
                  <input type="text" placeholder="Full name" id="full-name" required="required" class="form-control"/>
                </div>
                <div class="form-group">
                  <label for="phone" class="sr-only">Phone</label>
                  <input type="tel" placeholder="Phone" id="phone" required="required" class="form-control"/>
                </div>
                <div class="form-group">
                  <label for="email-address" class="sr-only">Email address</label>
                  <input type="email" placeholder="Email address" id="email-address" required="required" class="form-control"/>
                </div>
                <div class="form-group">
                  <label for="subject" class="sr-only">Subject</label>
                  <input type="text" placeholder="Subject" id="subject" required="required" class="form-control"/>
                </div>
                <div class="form-group">
                  <label for="message" class="sr-only">Message</label>
                  <textarea placeholder="Message" id="message" rows="6" required="required" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-motive">Send message</button>
              </form>
            </div>
            <div class="col-sm-5 ct-u-padding-left-100">
              <header class="_boxHeader">
                <h2 class="_boxHeader__title">Detail<sup class="_boxHeader__subtitle">Contact</sup></h2>
              </header>
              <address class="_address _address--type2">
                <div class="media _address__element">
                  <div class="media-left"><i class="fa fa-pencil"></i>
                  </div>
                  <div class="media-body">
                    <h5 class="_address__title">Postal address</h5><span class="_address__description">PO Box 97845 Baker st. 567, Los Angeles, California, United States</span>
                  </div>
                </div>
                <div class="media _address__element">
                  <div class="media-left"><i class="fa fa-phone"></i>
                  </div>
                  <div class="media-body">
                    <h5 class="_address__title">Phone</h5><span class="_address__description">8 (800) 659-2689</span>
                  </div>
                </div>
                <div class="media _address__element">
                  <div class="media-left"><i class="fa fa-fax"></i>
                  </div>
                  <div class="media-body">
                    <h5 class="_address__title">Fax</h5><span class="_address__description">8 (800) 659-2676</span>
                  </div>
                </div>
                <div class="media _address__element">
                  <div class="media-left"><i class="fa fa-envelope"></i>
                  </div>
                  <div class="media-body">
                    <h5 class="_address__title">Email</h5><a href="mailto:williamjackson@construct.com"><span class="_address__description">williamjackson@construct.com</span></a>
                  </div>
                </div>
              </address>
            </div>
          </div>
        </div>
      </div>
      <div class="_promoBox _promoBox__type2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4 ct-u-padding-both-75">
              <div class="_iconBox _iconBox--motive text-center">
                <div class="_iconBox__icon"><i class="fa fa-paper-plane"></i></div>
                <div class="_iconBox__content">
                  <h3 class="_iconBox__title">About our</h3>
                  <h4 class="_iconBox__subtitle">Company</h4>
                  <p class="_iconBox__description">Know more about our company</p><a href="#" class="btn btn--whiteBorder">About page<i class="fa fa-angle-double-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 ct-u-padding-both-75">
              <div class="_iconBox _iconBox--motive text-center">
                <div class="_iconBox__icon"><i class="fa fa-pencil"></i></div>
                <div class="_iconBox__content">
                  <h3 class="_iconBox__title">Our blog</h3>
                  <h4 class="_iconBox__subtitle">Posts</h4>
                  <p class="_iconBox__description">Check out our recent news and events</p><a href="#" class="btn btn--whiteBorder">Blog page<i class="fa fa-angle-double-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 ct-u-padding-both-75">
              <div class="_iconBox _iconBox--motive text-center">
                <div class="_iconBox__icon"><i class="fa fa-photo"></i></div>
                <div class="_iconBox__content">
                  <h3 class="_iconBox__title">Gallery</h3>
                  <h4 class="_iconBox__subtitle">Folio</h4>
                  <p class="_iconBox__description">Check our portfolio and photos</p><a href="#" class="btn btn--whiteBorder">Gallery page<i class="fa fa-angle-double-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer-->
      <footer class="_footer">
        <button data-scroll="up" class="ct-btn--scrollUp"><span><i class="fa fa-chevron-up"></i></span></button>
        <div class="inner">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h4>I <i class="fa fa-heart _color--motive _anim--beatingHeart"></i> your mom.</h4><span class="_copyright">Powered by <a href="#">wielicki-it</a></span>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <button data-scroll="up" class="ct-btn--scrollUp"><span><i class="fa fa-chevron-up"></i></span></button>
    </div>
    <!-- Mobile Menu //-->
    <nav class="_menuMobile"></nav>
    <!-- JavaScripts-->
    <script src="assets/js/boilerplate.min.js"></script>
    <script src="assets/js/tether.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/plugins/slick/js/slick.js"></script>
    <script src="assets/js/plugins/slick/js/init.js"></script>
    <script src="assets/js/plugins/ct-mediaSection/js/jquery.stellar.min.js"></script>
    <script src="assets/js/skrollr.min.js"></script>
    <script src="assets/js/plugins/ct-mediaSection/js/media-section.js"></script>
    <script src="assets/js/plugins/lightgallery/lightgallery-all.js"></script>
    <script src="assets/js/plugins/lightgallery/init.js"></script>
    <script src="assets/js/plugins/portfolio/jquery.isotope.min.js"></script>
    <script src="assets/js/plugins/portfolio/imagesloaded.js"></script>
    <script src="assets/js/plugins/portfolio/init.js"></script>
    <script src="assets/js/plugins/vimeo/froga.loop.min.js"></script>
    <!-- Block Plugins-->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="assets/js/plugins/gmaps/gmap3.min.js"></script>
    <script src="assets/js/plugins/gmaps/init.js"></script>
  </body>
</html>
