html/our-projects-1.html


<!-- Blog single standard--><!DOCTYPE html><!--[if IE 8 ]>
<html lang="en" class="no-js ie8"></html><![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="no-js ie9"></html><![endif]-->
<html class="no-js" lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Systemy automatyki i sterowania produkcją energii elektrycznej - Ineea">
    <meta name="author" content="wielicki-it">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="assets/images/favicon.png">
    <title>Systemy automatyki i sterowania produkcją energii elektrycznej - Ineea</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css"><!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <script src="assets/js/es5-shim.min.js"></script><![endif]-->
  </head>
  <body class="cssAnimate">
    <div id="preloader">
      <div class="loader"><img src="assets/images/content/loader.gif" alt="Strona jest w trakcie ładowania"></div>
    </div>
    <div id="ct-js-wrapper" class="ct-pageWrapper">
      <!-- Mobile toggle-->
      <div class="_navbarMobile">
        <button type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <!-- top bar-->
      <div class="_topBar hidden-xs">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <ul class="list-unstyled list-inline _list-info">
                <li><a href="tel:605954481" class="_link"><i class="fa fa-phone"></i> 605&ensp;954&ensp;481</a></li>
                <li><a href="fax:4599743222" class="_link"><i class="fa fa-fax"></i> 45&nbsp;997&nbsp;432&nbsp;22</a></li>
                <li><a href="mailto:ineea@ineea.pl" class="_link"><i class="fa fa-envelope-o"></i> ineea@ineea.pl</a></li>
                <li><a href="skype:construction" class="_link"><i class="fa fa-skype"></i> construction</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- header-->
      <header class="_header">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 text-center-xs text-left-sm"><img src="http://vowthemes.com/demo/html/construction/images/logo.png" alt=""></div>
            <div class="col-sm-6 hidden-xs">
              <ul class="list-unstyled list-inline _socialBox text-right">
                <li><a href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="top" data-tooltip-mode="dark" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <!-- Navigation-->
      <nav class="navbar navbar-default sticky-menu">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li><a href="index.html">Home page</a></li>
                  <li class="dropdown"><a href="about-1.html">About</a>
                    <ul class="dropdown-menu">
                      <li><a href="about-1.html">About 1</a></li>
                      <li><a href="#">About 2</a></li>
                      <li><a href="#">About 3</a></li>
                      <li><a href="#">About 4</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="our-projects-1.html">Our projects</a>
                    <ul class="dropdown-menu">
                      <li><a href="our-projects-1.html">Projects 1</a></li>
                      <li><a href="#">Projects 2</a></li>
                      <li><a href="#">Projects 3</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="praca.html">Service</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Service 1</a></li>
                      <li><a href="#">Service 2</a></li>
                      <li><a href="#">Service 3</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="news.html">News</a>
                    <ul class="dropdown-menu">
                      <li><a href="blog-left-sidebar.html">Blog - left sidebar</a></li>
                      <li><a href="#">Blog 2col</a></li>
                      <li><a href="#">Blog 3col</a></li>
                      <li><a href="#">Blog single</a></li>
                      <li><a href="404.html">404</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="shortcodes.html">Shortcodes</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <header data-background="http://vowthemes.com/demo/html/construction/images/projects/cover.png" data-height="300" class="_pageHeader ct-u-display-tablex">
        <div class="inner">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="_pageHeader__title">Projects 1</h2>
                <ol class="breadcrumb">
                  <li><a href="/">Home page</a></li>
                  <li class="active">Projects 1</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <ul class="list-unstyled list-inline _gallery-filters _gallery-filter--type2">
                <li data-filter="*" class="active"><i class="fa fa-th"></i> Pokaż wszystkie</li>
                <li data-filter=".hospitals">Automatyka typ1</li>
                <li data-filter=".schools">Automatyka typ2</li>
                <li data-filter=".forest">Automatyka type3</li>
                <li data-filter="*">Automatyka type4</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="_gallery _gallery--col3 _js-lightGallery">
          <figure data-src="http://vowthemes.com/demo/html/construction/images/projects/project1.png" class="_gallery-item _gallery-item--expand hospitals"><img src="http://vowthemes.com/demo/html/construction/images/projects/project1.png" alt="Gallery image">
            <figcaption class="_gallery-item__details">
              <h5 class="_gallery-item__title">Central Hospital<span>building</span></h5>
              <div class="_gallery-item__icons"><a href="#"><i class="fa fa-search"></i></a><span data-project-name="central-cementary" class="expanded"><i class="fa fa-file-o"></i></span></div>
            </figcaption>
          </figure>
          <figure data-src="http://vowthemes.com/demo/html/construction/images/projects/project2.png" class="_gallery-item _gallery-item--expand schools"><img src="http://vowthemes.com/demo/html/construction/images/projects/project2.png" alt="Gallery image">
            <figcaption class="_gallery-item__details">
              <h5 class="_gallery-item__title">Central Hospital<span>building</span></h5>
              <div class="_gallery-item__icons"><a href="#"><i class="fa fa-search"></i></a><span data-project-name="central-cementary" class="expanded"><i class="fa fa-file-o"></i></span></div>
            </figcaption>
          </figure>
          <figure data-src="http://vowthemes.com/demo/html/construction/images/projects/project3.png" class="_gallery-item _gallery-item--expand forest"><img src="http://vowthemes.com/demo/html/construction/images/projects/project3.png" alt="Gallery image">
            <figcaption class="_gallery-item__details">
              <h5 class="_gallery-item__title">Central Hospital<span>building</span></h5>
              <div class="_gallery-item__icons"><a href="#"><i class="fa fa-search"></i></a><span data-project-name="central-cementary" class="expanded"><i class="fa fa-file-o"></i></span></div>
            </figcaption>
          </figure>
          <figure data-src="http://vowthemes.com/demo/html/construction/images/projects/project4.png" class="_gallery-item _gallery-item--expand hospitals"><img src="http://vowthemes.com/demo/html/construction/images/projects/project4.png" alt="Gallery image">
            <figcaption class="_gallery-item__details">
              <h5 class="_gallery-item__title">Central Hospital<span>building</span></h5>
              <div class="_gallery-item__icons"><a href="#"><i class="fa fa-search"></i></a><span data-project-name="central-cementary" class="expanded"><i class="fa fa-file-o"></i></span></div>
            </figcaption>
          </figure>
          <figure data-src="http://vowthemes.com/demo/html/construction/images/projects/project5.png" class="_gallery-item _gallery-item--expand schools"><img src="http://vowthemes.com/demo/html/construction/images/projects/project5.png" alt="Gallery image">
            <figcaption class="_gallery-item__details">
              <h5 class="_gallery-item__title">Central Hospital<span>building</span></h5>
              <div class="_gallery-item__icons"><a href="#"><i class="fa fa-search"></i></a><span data-project-name="central-cementary" class="expanded"><i class="fa fa-file-o"></i></span></div>
            </figcaption>
          </figure>
          <figure data-src="http://vowthemes.com/demo/html/construction/images/projects/project6.png" class="_gallery-item _gallery-item--expand forest"><img src="http://vowthemes.com/demo/html/construction/images/projects/project6.png" alt="Gallery image">
            <figcaption class="_gallery-item__details">
              <h5 class="_gallery-item__title">Central Hospital<span>building</span></h5>
              <div class="_gallery-item__icons"><a href="#"><i class="fa fa-search"></i></a><span data-project-name="central-cementary" class="expanded"><i class="fa fa-file-o"></i></span></div>
            </figcaption>
          </figure>
        </div>
      </section>
      <div class="_sectionDivider _sectionDivider--motive text-center _padding-both-60">
        <div class="container">
          <div class="row">
            <div class="col-sm-12"><a href="#" class="_link__dropUs">Drop us a line</a></div>
          </div>
        </div>
      </div>
      <!-- Footer-->
      <footer class="_footer">
        <button data-scroll="up" class="ct-btn--scrollUp"><span><i class="fa fa-chevron-up"></i></span></button>
        <div class="inner">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h4>I <i class="fa fa-heart _color--motive _anim--beatingHeart"></i> your mom.</h4><span class="_copyright">Powered by <a href="#">wielicki-it</a></span>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <button data-scroll="up" class="ct-btn--scrollUp"><span><i class="fa fa-chevron-up"></i></span></button>
    </div>
    <!-- Mobile Menu //-->
    <nav class="_menuMobile"></nav>
    <!-- JavaScripts-->
    <script src="assets/js/boilerplate.min.js"></script>
    <script src="assets/js/tether.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/plugins/slick/js/slick.js"></script>
    <script src="assets/js/plugins/slick/js/init.js"></script>
    <script src="assets/js/plugins/ct-mediaSection/js/jquery.stellar.min.js"></script>
    <script src="assets/js/skrollr.min.js"></script>
    <script src="assets/js/plugins/ct-mediaSection/js/media-section.js"></script>
    <script src="assets/js/plugins/lightgallery/lightgallery-all.js"></script>
    <script src="assets/js/plugins/lightgallery/init.js"></script>
    <script src="assets/js/plugins/portfolio/jquery.isotope.min.js"></script>
    <script src="assets/js/plugins/portfolio/imagesloaded.js"></script>
    <script src="assets/js/plugins/portfolio/init.js"></script>
    <script src="assets/js/plugins/vimeo/froga.loop.min.js"></script>
    <!-- Block Plugins-->
  </body>
</html>

dev/jade/our-projects-1.jade
//- Document Head //
extends config/base
block page_content
    +pageHeader(
    'http://vowthemes.com/demo/html/construction/images/projects/cover.png',
    'Projects 1'
    )
    section
        .container
            .row
                .col-sm-12
                    ul.list-unstyled.list-inline._gallery-filters._gallery-filter--type2
                        li(data-filter="*").active #[i.fa.fa-th] Pokaż wszystkie
                        li(data-filter=".hospitals") Automatyka typ1
                        li(data-filter=".schools") Automatyka typ2
                        li(data-filter=".forest") Automatyka type3
                        li(data-filter="*") Automatyka type4
        ._gallery._gallery--col3._js-lightGallery
            figure._gallery-item._gallery-item--expand.hospitals(data-src="http://vowthemes.com/demo/html/construction/images/projects/project1.png")
                img(src="http://vowthemes.com/demo/html/construction/images/projects/project1.png" alt="Gallery image")
                figcaption._gallery-item__details
                    h5._gallery-item__title Central Hospital
                        span building
                    ._gallery-item__icons
                        a(href="#"): i.fa.fa-search
                        span(data-project-name="central-cementary").expanded: i.fa.fa-file-o
            figure._gallery-item._gallery-item--expand.schools(data-src="http://vowthemes.com/demo/html/construction/images/projects/project2.png")
                img(src="http://vowthemes.com/demo/html/construction/images/projects/project2.png" alt="Gallery image")
                figcaption._gallery-item__details
                    h5._gallery-item__title Central Hospital
                        span building
                    ._gallery-item__icons
                        a(href="#"): i.fa.fa-search
                        span(data-project-name="central-cementary").expanded: i.fa.fa-file-o
            figure._gallery-item._gallery-item--expand.forest(data-src="http://vowthemes.com/demo/html/construction/images/projects/project3.png")
                img(src="http://vowthemes.com/demo/html/construction/images/projects/project3.png" alt="Gallery image")
                figcaption._gallery-item__details
                    h5._gallery-item__title Central Hospital
                        span building
                    ._gallery-item__icons
                        a(href="#"): i.fa.fa-search
                        span(data-project-name="central-cementary").expanded: i.fa.fa-file-o
            figure._gallery-item._gallery-item--expand.hospitals(data-src="http://vowthemes.com/demo/html/construction/images/projects/project4.png")
                img(src="http://vowthemes.com/demo/html/construction/images/projects/project4.png" alt="Gallery image")
                figcaption._gallery-item__details
                    h5._gallery-item__title Central Hospital
                        span building
                    ._gallery-item__icons
                        a(href="#"): i.fa.fa-search
                        span(data-project-name="central-cementary").expanded: i.fa.fa-file-o
            figure._gallery-item._gallery-item--expand.schools(data-src="http://vowthemes.com/demo/html/construction/images/projects/project5.png")
                img(src="http://vowthemes.com/demo/html/construction/images/projects/project5.png" alt="Gallery image")
                figcaption._gallery-item__details
                    h5._gallery-item__title Central Hospital
                        span building
                    ._gallery-item__icons
                        a(href="#"): i.fa.fa-search
                        span(data-project-name="central-cementary").expanded: i.fa.fa-file-o
            figure._gallery-item._gallery-item--expand.forest(data-src="http://vowthemes.com/demo/html/construction/images/projects/project6.png")
                img(src="http://vowthemes.com/demo/html/construction/images/projects/project6.png" alt="Gallery image")
                figcaption._gallery-item__details
                    h5._gallery-item__title Central Hospital
                        span building
                    ._gallery-item__icons
                        a(href="#"): i.fa.fa-search
                        span(data-project-name="central-cementary").expanded: i.fa.fa-file-o
    ._sectionDivider._sectionDivider--motive.text-center._padding-both-60
        .container
            .row
                .col-sm-12
                    a(href="#")._link__dropUs Drop us a line
